.journal .site-content {
  img {
    width: 100%;
  }
}

.journal-hero-img {
  margin: 0 0 $space-large;
}

.journal-author-img {
  margin: 0 0 $space-small;
}
.journal-author-name {
  @extend .t-18;
  @extend .t-bold;
}
.journal-author-info {
  @extend .t-18;
}

.journal-post-header {
  margin: 0 0 $space-large;
}
.journal-post-title  {
  @extend .t-72;
  line-height: 1.1;
  margin: 0 0 $space-medium;
}
.journal-post-date {
  @extend .t-label;
  @extend .t-14;
}

.journal-post-body {
  blockquote {
    background: $color-black-100;
    margin: $space-medium 0;
    padding: $space-medium;
    p {    
      @extend .t-18;
      font-style: normal;
      margin: 0;
    }
  }
  p + h1, p + h2, p + h3, p + h4, p + h5, p + h6 {
    margin-top: $space-medium;
  }
  ul, ol {
    @extend .list;
    @extend .list-numbered;
    li {
      @extend .list-ele;

    }
  }
}

@supports (height: 100vh) { 
  .journal {   
    background: linear-gradient(to right top, #0089f2 50%, $color-black-100 50%);
    background-size: 100% calc(100% - 100vh + 124px);
    background-position: 120px 0;
    background-repeat: no-repeat;
    &:before{
      content:'';
      position: fixed;
      top: 5px;
      bottom: 0;
      width: 100%;
      z-index: -1;
      background: $color-black-10;
    }
  }
}