// Site Header
  .site-header {
    background: darken($color-black-400,5%);
    height: 80px;
    left: 0;
    padding: $space-small;
    position: fixed;
    top: 0;
    width: 100%;
    @include flexbox;
    align-items: center;
    justify-content: space-between;
    z-index: 10000000;
    @include transition($type:box-shadow);
    @media only screen and (min-width: $mq-tablet) {
      box-shadow: 0 0 0 darken($color-black-400,5%);
      height: 125px;
      width: 100vh;
      @include rotate(-90);
      justify-content: flex-end;
      top: 100%;
      transform-origin: top left;
    }
    &:hover {
      @media only screen and (min-width: $mq-tablet) {
        box-shadow: 0 10px 0 darken($color-black-400,5%);
        .site-header-menu-trigger-icon {
          background: $color-blue;
          &:before {
            width: 80%;
          }
          &:after {
            width: 60%;
          }
        }
      }
    }
  }
  .site-header-logo {
    order: 1;
    width: 33.3%;
    position: relative;
    a {
      border-bottom: 0px;
      display: block;
    }
    img {
      width: 60px;
    }
    @media only screen and (min-width: $mq-tablet) {
      order: 3;
      text-align: right;
      width: 50%;
      @include transition;
      img {
        transform: rotate(90deg);
        width: 80px;
      }
    }
  }
  .site-header-logo-svg {
    width: 120px;
  }
  .site-header-menu-trigger {
    cursor: pointer;
    height: 100%;
    text-align: right;
    order: 2;
    width: 33.3%;
    @include transition;
    @include flexbox;
    align-items: center;
    justify-content: flex-end;
    z-index: 100000000;
    @media only screen and (min-width: $mq-tablet) {
      align-items: center;
      justify-content: center;
      @include absolute-center;
    }
  }
  .site-header-menu-trigger-icon {
    margin: 0;
    width: 27px;
    @media only screen and (min-width: $mq-tablet) {
      margin: 0 auto;
      @include rotate(90);
      transform-origin: center center;
    }
  }
  .site-header-breadcrumbs {
    display: none;
    order: 3;
    width: 33.3%;
    @media only screen and (min-width: $mq-tablet) {
      display: block;
      order: 1;
      width: 50%;
      @include transition;
    }
  }
  .site-header-breadcrumbs-text {
    @extend .t-14;
    @extend .t-label;
    color: $color-black-100;
    white-space: nowrap;
  }

// Site Nav
  .site-nav {
    background: $color-white;
    height: 100vh;
    left: 0;
    top: 0;
    position: fixed;
    width: 100vw;
    z-index: 10000000;
    @include translate(-100%,0);
    @include transition($delay:200ms);
    @media only screen and (min-width: $mq-tablet) {
      left: 0;
      top: 0;
      width: 50vw;
    }
  }
  .site-nav-links {
    padding: $space-medium;
    @include absolute-center;
    text-align: right;
    width: 100%;
    @include transition($delay:200ms);
    opacity: 0;
    @media only screen and (min-width: $mq-tablet) {
      padding: $space-large;
      text-align: left;
      width: 100%;
    }
  }
  .site-nav-link {
    border: 0;
    display: block;
    @extend .t-bold;
    margin: 0 0 $space-x;
    &:hover {
      border: 0;
    }
  }
  .site-nav-links-primary {
    margin: 0 0 $space-medium;
    .site-nav-link {
      color: $color-black-300;
      @extend .t-36;
      &:hover {
        color: $color-black-400;
      }
    }
  }
  .site-nav-links-secondary {
    .site-nav-link {
      color: $color-black-200;
      @extend .t-18;
      &:hover {
        color: $color-black-300;
      }
    }
  }
  .site-nav-close {
    @extend .t-48;
    @extend .t-bold;
    cursor: pointer;
    opacity: 0;
    position: absolute;
    top: $space-small;
    right: $space-small;
    z-index: 10000000;
    @include transition();
    // transform-origin: center center;
    @media only screen and (min-width: $mq-tablet) {
      @include vertical-center;
    }
    span {
      display: block;
      @include transition($delay:100ms);
      @include scale(1);
      transform-origin: center center;
    }
    &:hover {
      span {
        @include scale(0.7);
      }
    }
  }

// Site Content
  .site-content {
    padding: 80px 0 0 0;
    position: relative;
    width: 100%;
    @media only screen and (min-width: $mq-tablet) {
      padding: 0 0 0 125px;
    }
    &:before {
      background: rgba(247,247,247,0.9);
      content: "";
      height: 100%;
      left: 0;
      opacity: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: -1;
      @include transition($delay:400ms);
    }
  }

// Site Hero
  .site-hero {
    background: darken($color-black-400,2.5%);
    padding: $space-large $space-small;
    position: relative;
    @media only screen and (min-width: $mq-tablet) {
      padding: $space-xl 0;
    }

  }
  .site-hero-dark {
    h1, h2, h3 {
      color: $color-white;
    }
    p {
      color: rgba(255,255,255,0.8);
    }
  }

// Site Block
  .site-block {
    padding: $space-medium $space-small;
    @media only screen and (min-width: $mq-tablet) {
      padding: $space-large 0;
    }
  }
  .site-block-header {
    margin: 0 0 $space-medium;
    text-align: center;
    @media only screen and (min-width: $mq-laptop) {
      text-align: left;
    }
  }
  .site-block-subheader {

  }
  .site-block-content {
    margin: 0 0 $space-medium;
  }