// _type.scss

  // General
    * {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      -webkit-text-size-adjust: 100%;
      text-rendering: optimizeLegibility;
    }
    html {
      font-size: 62.5%;
      -webkit-font-smoothing: auto;
      -moz-osx-font-smoothing: auto;
    }
    body {
      font-family: $font-primary;
      font-size: 1em;
      line-height: 1.3;
    }

    .t-72 {
      @include font-size(64);
      @media (min-width: $mq-tablet) {
        @include font-size(64);
      }
      @media (min-width: $mq-laptop) {
        @include font-size(72);
      }
      @media (min-width: $mq-desktop) {
        @include font-size(96);
      }
      @media (min-width: $mq-wide) {
        @include font-size(120);
      }
    }
    .t-64 {
      @include font-size(48);
      @media (min-width: $mq-tablet) {
        @include font-size(48);
      }
      @media (min-width: $mq-laptop) {
        @include font-size(64);
      }
      @media (min-width: $mq-desktop) {
        @include font-size(72);
      }
      @media (min-width: $mq-wide) {
        @include font-size(96);
      }
    }
    .t-48 {
      @include font-size(36);
      @media (min-width: $mq-tablet) {
        @include font-size(36);
      }
      @media (min-width: $mq-laptop) {
        @include font-size(48);
      }
      @media (min-width: $mq-wide) {
        @include font-size(64);
      }
    }
    .t-36 {
      @include font-size(28);
      @media (min-width: $mq-tablet) {
        @include font-size(28);
      }
      @media (min-width: $mq-laptop) {
        @include font-size(36);
      }
      @media (min-width: $mq-wide) {
        @include font-size(48);
      }
    }
    .t-28 {
      @include font-size(24);
      @media (min-width: $mq-tablet) {
        @include font-size(24);
      }
      @media (min-width: $mq-laptop) {
        @include font-size(28);
      }
      @media (min-width: $mq-wide) {
        @include font-size(36);
      }
    }
    .t-24 {
      @include font-size(18);
      @media (min-width: $mq-tablet) {
        @include font-size(18);
      }
      @media (min-width: $mq-laptop) {
        @include font-size(24);
      }
      @media (min-width: $mq-wide) {
        @include font-size(28);
      }
    }
    .t-18 {
      @include font-size(16);
      @media (min-width: $mq-tablet) {
        @include font-size(16);
      }
      @media (min-width: $mq-laptop) {
        @include font-size(18);
      }
      @media (min-width: $mq-wide) {
        @include font-size(24);
      }
    }
    .t-16 {
      @include font-size(14);
      @media (min-width: $mq-tablet) {
        @include font-size(14);
      }
      @media (min-width: $mq-laptop) {
        @include font-size(16);
      }
      @media (min-width: $mq-wide) {
        @include font-size(18);
      }
    }
    .t-14 {
      @include font-size(12);
      @media (min-width: $mq-tablet) {
        @include font-size(12);
      }
      @media (min-width: $mq-laptop) {
        @include font-size(14);
      }
      @media (min-width: $mq-wide) {
        @include font-size(16);
      }
    }
    .t-12 {
      @include font-size(10);
      @media (min-width: $mq-tablet) {
        @include font-size(10);
      }
      @media (min-width: $mq-laptop) {
        @include font-size(12);
      }
      @media (min-width: $mq-wide) {
        @include font-size(14);
      }
    }
    .t-10 {
      @include font-size(8);
      @media (min-width: $mq-tablet) {
        @include font-size(8);
      }
      @media (min-width: $mq-laptop) {
        @include font-size(10);
      }
      @media (min-width: $mq-wide) {
        @include font-size(12);
      }
    }
    .t-light {
      font-weight: 300;
    }
    .t-normal {
      font-weight: 400;
    }
    .t-book {
      font-weight: 500;
    }
    .t-bold {
      font-weight: 700;
    }
    .t-label {
      @extend .t-bold;
      letter-spacing: .3rem;
      text-transform: uppercase;
    }
  
  // Text Spacing
    .t-small {
      margin: 0 0 $space-x;
    }
    .t-large {
      margin: 0 0 $space-small;
    }

  // Links
    a {
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
      &.text-link {
        border-bottom: 2px solid $color-black-100;
        @extend .t-18;
        @extend .t-bold;
        color: $color-black-300;
        &:hover {
          border-bottom: 2px solid $color-black-200;
          text-decoration: none;
        }
      }
    }

  // Paragraphs
    p {
      @extend .t-24;
      @extend .t-small;
      color: $color-black-300;
    }

  // Headers
    h1, h2, h3, h4, h5, h6 {
      display: inline-block;
      @extend .t-small;
      margin-left: -0.055em;
      position: relative;
      width: 100%;
      z-index: 1;
    }
    h1 {
      font-family: $font-primary;
      @extend .t-bold;
    }

    h2, h3, h4, h5, h6 {
      font-family: $font-primary;
      @extend .t-book;
    }

    h1 {
      @extend .t-48;
    }

    h2 {
      @extend .t-36;
    }

    h3 {
      @extend .t-28;
    }

    h4 {
      @extend .t-28;
    }

    // p + h1, p + h2, p + h3, p + h4, p + h5, p + h6 {
    //   margin-top: $space-medium;
    // }
  
  // Label
    label {
      @extend .t-label;
      @extend .t-16;
      @extend .t-large;
      display: block;
      padding-top: 1rem;
    }
  // Blockquotes
    blockquote {
      @extend .t-36;
      font-style: italic;
      font-weight: 700;
    }

  // Lists
    ul {
      list-style: disc;
      margin: 0 0 20px 20px;
      li {
        @include font-size(24);
        margin-bottom: 10px;
        &:last-small {
          margin-bottom: 0;
        }
      }
    }

  // Classes
    .type-caps-spaced {
      font-weight: 700;
      letter-spacing: .2rem;
      text-transform: uppercase;
    }
    .no-list {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        margin-bottom: 0;
      }
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }
    }
