/**
  Welcome to Variables
**/

  // Neutral Colors
    $color-black-0:     #FFFFFF;
    $color-black-10:    #F7F7F7;
    $color-black-100:   #F2F2F2;
    $color-black-200:   #999999;
    $color-black-300:   #4D4D4D;
    $color-black-400:   #333333;
    $color-black-500:   #1A1A1A;

  // Primary Colors
    $color-black:       $color-black-500;
    $color-gray:        $color-black-200;
    $color-white:       $color-black-0;
    $color-blue:        #2F80ED;

  // Special Colors
    $color-form-input:  darken($color-black-300,5%);
  
  // Fonts
    $font-primary:      'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;  

  // Media Queries
    $mq-phonesm:        375px;
    $mq-phonemd:        425px;
    $mq-phonelg:        576px;
    $mq-tablet:         768px;
    $mq-laptop:         992px;
    $mq-desktop:        1200px;
    $mq-wide:           1440px;

  // Spacing
    $space-x:           1rem;
    $space-small:       $space-x * 2; // 2rem
    $space-medium:      $space-small * 2; // 4rem
    $space-large:       $space-medium * 2; // 16rem
    $space-xl:          $space-large * 2; // 32rem
