@charset "utf-8";
@import "normalize";
@import "bootstrap";
@import "variables";
@import "mixins";
@import "type";
@import "system";

// Global
  body {
    background: $color-black-10;
    height: 100%;
    overflow-x: hidden;
  }

// Page States
  .menu-active {
    overflow: hidden;
    .site-nav {
      @include translate(0,0);
    }
    .site-nav-links {
      opacity: 1;
      @include transition($delay:600ms);
    }
    .site-content {
      &:before {
        @include transition($delay:200ms);
        opacity: 1;
        z-index: 10000;
      }
    }
    .site-nav-close {
      @include transition($delay:1000ms);
      opacity: 1;
    }
  }

// Site Header
  .site-header {
    background: $color-white;
    height: 80px;
    left: 0;
    padding: $space-small;
    position: fixed;
    top: 0;
    width: 100%;
    @include flexbox;
    align-items: center;
    justify-content: space-between;
    z-index: 10000000;
    @include transition($type:box-shadow);
    @media only screen and (min-width: $mq-tablet) {
      box-shadow: 0 0 0 $color-white;
      height: 125px;
      width: 100vh;
      @include rotate(-90);
      top: 100%;
      transform-origin: top left;
    }
    &:hover {
      @media only screen and (min-width: $mq-tablet) {
        box-shadow: 0 10px 0 $color-white;
        .site-header-menu-trigger-icon {
          &:before {
            width: 80%;
          }
          &:after {
            width: 60%;
          }
        }
      }
    }
  }
  .site-header-logo {
    order: 1;
    width: 33.3%;
    position: relative;
    a {
      border-bottom: 0px;
      display: block;
    }
    @media only screen and (min-width: $mq-tablet) {
      order: 3;
      text-align: right;
    }
  }
  .site-header-logo-svg {
    width: 120px;
  }
  .site-header-menu-trigger {
    cursor: pointer;
    height: 100%;
    text-align: right;
    order: 2;
    width: 33.3%;
    @include transition;
    @include flexbox;
    align-items: center;
    justify-content: flex-end;
    @media only screen and (min-width: $mq-tablet) {
      align-items: center;
      justify-content: center;
    }
  }
  .site-header-menu-trigger-icon {
    margin: 0;
    width: 27px;
    @media only screen and (min-width: $mq-tablet) {
      margin: 0 auto;
      @include rotate(90);
      transform-origin: center center;
    }
  }

  .site-header-breadcrumbs {
    display: none;
    order: 3;
    width: 33.3%;
    @media only screen and (min-width: $mq-tablet) {
      display: block;
      order: 1;
    }
  }
  .site-header-breadcrumbs-text {
    @extend .t-14;
    @extend .t-label;
    white-space: nowrap;
  }

// Site Nav
  .site-nav {
    background: $color-white;
    height: 100vh;
    left: 0;
    top: 0;
    position: fixed;
    width: 100vw;
    z-index: 10000000;
    @include translate(-100%,0);
    @include transition($delay:200ms);
    @media only screen and (min-width: $mq-tablet) {
      left: 0;
      top: 0;
      width: 50vw;
    }
  }
  .site-nav-links {
    padding: $space-medium;
    @include absolute-center;
    text-align: right;
    width: 100%;
    @include transition($delay:200ms);
    opacity: 0;
    @media only screen and (min-width: $mq-tablet) {
      padding: $space-large;
      text-align: left;
      width: 100%;
    }
  }
  .site-nav-link {
    border: 0;
    display: block;
    @extend .t-bold;
    margin: 0 0 $space-x;
    &:hover {
      border: 0;
    }
  }
  .site-nav-links-primary {
    margin: 0 0 $space-medium;
    .site-nav-link {
      color: $color-black-300;
      @extend .t-36;
      &:hover {
        color: $color-black-400;
      }
    }
  }
  .site-nav-links-secondary {
    .site-nav-link {
      color: $color-black-200;
      @extend .t-18;
      &:hover {
        color: $color-black-300;
      }
    }
  }
  .site-nav-close {
    @extend .t-48;
    @extend .t-bold;
    cursor: pointer;
    opacity: 0;
    position: absolute;
    top: $space-small;
    right: $space-small;
    z-index: 10000000;
    @include transition();
    @media only screen and (min-width: $mq-tablet) {
      @include vertical-center;
    }
    span {
      display: block;
      @include transition($delay:200ms);
      @include rotate(0);
      transform-origin: center center;
    }
    &:hover {
      span {
        @include rotate(180);
      }
    }
  }

// Site Content
  .site-content {
    padding: 80px 0 0 0;
    position: relative;
    width: 100%;
    @media only screen and (min-width: $mq-tablet) {
      padding: 0 0 0 125px;
    }
    &:before {
      background: rgba(247,247,247,0.9);
      content: "";
      height: 100%;
      left: 0;
      opacity: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: -1;
      @include transition($delay:400ms);
    }
  }

// Site Hero
  .site-hero {
    background: $color-black-100;
    padding: $space-large $space-small;
    position: relative;
    @media only screen and (min-width: $mq-tablet) {
      padding: $space-xl 0;
    }

  }
  .site-hero-dark {
    h1, h2, h3 {
      color: $color-white;
    }
    p {
      color: rgba(255,255,255,0.8);
    }
  }

// Site Block
  .site-block {
    padding: $space-medium $space-small;
    @media only screen and (min-width: $mq-tablet) {
      padding: $space-large 0;
    }
  }
  .site-block-header {
    margin: 0 0 $space-medium;
  }
  .site-block-content {
    margin: 0 0 $space-medium;
  }
  .card-case {
    background: $color-black-100;
    box-shadow: 0 0 0;
    cursor: pointer;
    display: block;
    margin: 0 0 $space-medium;
    height: 70vh;
    position: relative;
    width: 100%;
    @include transition;
    @media only screen and (min-width: $mq-desktop) {
      height: 80vh;
    }
    &:hover {
      .card-case-profile h2 {
        color: $color-white;
      }
      .case-screen-teaser {
        @include translate($space-small,0);
      }
    }
  }
  .card-case-profile {
    left: $space-small;
    bottom: 0;
    height: 20px;
    // padding: $space-small;
    position: absolute;
    width: 100%;
    @include rotate(-90);
    transform-origin: left top;
    h2 {
      @extend .t-label;
      @extend .t-16;
      color: $color-black-200;
      margin: 0;
      @include transition;
    }
  }
// Case Cards
  #case-myfdtps {
    &:before {
      @media only screen and (min-width: $mq-tablet) {
        content: "";
        background: url('../images/cases/img-case-myfdtps-index.jpg') no-repeat center;
        background-size: cover;
        height: 100%;
        opacity: 0;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 0;
        @include transition;
      }
    }
    &:hover {
      @media only screen and (min-width: $mq-tablet) {
        &:before {
          content: "";
          opacity: 1;
        }
      }
    }
  }
  #case-kls {
    &:before {
      @media only screen and (min-width: $mq-tablet) {
        content: "";
        background: url('../images/cases/img-case-kls-index.jpg') no-repeat center;
        background-size: cover;
        height: 100%;
        opacity: 0;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 0;
        @include transition;
      }
    }
    &:hover {
      @media only screen and (min-width: $mq-tablet) {
        &:before {
          content: "";
          opacity: 1;
        }
      }
    }
  }

// Component - Screens
  .case-screen {
    background: $color-white;
    border-radius: 4px 4px 2px 2px;
    border-bottom: 5px solid $color-white;
    overflow: hidden;
    padding: 0 5px 10px 5px;
    @include box-shadow;
  }
  .case-screen-bar {
    height: 35px;
    @include flexbox;
    align-items: center;
    padding: $space-x $space-x;
    width: 100%;
  }
  .case-screen-bar-ui {
    @include flexbox;
  }
  .case-screen-bar-ui-btn {
    background: $color-black-100;
    border-radius: 8px;
    height: 8px;
    margin-right: 5px;
    width: 8px;
    &:last-child {
      margin-right: 0;
    }
  }
  .case-screen-container {
    height: 100%;
    overflow: hidden;
    width: 100%;
  }
  .case-screen-img {
    width: 100%;
  }
  .case-screen-hero {
    // height: 300px;
    margin: $space-medium auto 0;
    width: 100%;
    @media only screen and (min-width: $mq-tablet) {
      width: 80%;
    }
    @media only screen and (min-width: $mq-desktop) {
      height: 1200px;
      margin: 0;
      right: -$space-x;
      position: absolute;
      top: $space-medium;
      width: 650px;
    }
  }
  .case-screen-teaser {
    position: absolute;
    right: -$space-small;
    bottom: -$space-small;
    top: $space-medium;
    height: 80vh;
    width: 80%;
    @include transition($type:transform);
    @include translate(0,0);
    @media only screen and (min-width: $mq-tablet) {
      height: 80vh;
      width: 80%;
    }
  }