@charset "utf-8";
@import "normalize";
@import "bootstrap";
@import "variables";
@import "mixins";
@import "type";

body {
  background: $color-black-400;
}

.logo-type {
  background: url("../images/forces-logo-type.svg") no-repeat center top;
  background-size: contain;
  display: block;
  width: 160px;
  @include text-hide;
}
.section-inner {
  margin: 0 auto;
  width: 95vw;
  @media (min-width: $mq-tablet) {
    max-width: 1600px;
    width: 80vw;
  }
}
.section-header {
  padding: $space-large 0;
}
.site-nav {
  display: none;
  @media (min-width: $mq-tablet) {
    @include flexbox;
    justify-content: flex-end;
    align-items: flex-start;
  }
}
.site-nav-link {
  @extend .type-caps-spaced;
  @include font-size(16);
  line-height: 1;
  padding: 0 $space-small;
  &:last-child {
    padding-right: 0;
  }
}
.section-block {
  border-bottom: 1px solid $color-black-300;
  overflow: hidden;
  padding: $space-large 0 $space-medium;
  @media (min-width: $mq-tablet) {
    padding: $space-xl 0 $space-large;
  }
}

.section-block-hero-text {
  @include font-size(56);
  @media (min-width: $mq-phonesm) {
    @include font-size(64);
  }
  @media (min-width: $mq-phonemd) {
    @include font-size(72);
  }
  @media (min-width: $mq-laptop) {
    @include font-size(81);
  }
  @media (min-width: $mq-desktop) {
    @include font-size(96);
  }
  @media (min-width: $mq-wide) {
    @include font-size(120);
  }
}
.section-block-hero-text span {
  // display: inline-block;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list-professionals {
  margin: $space-medium 0 0;
  .list-li {
    @extend .type-caps-spaced;
    @extend .text-center;
    color: $color-black-200;
    @include font-size(18);
    margin: 0 0 $space-small 0;
  }
}

.case-study {
  @include flexbox;
  @include flex-wrap(wrap);
  justify-content: space-between;
  margin: $space-medium 0;
  position: relative;
  &:after {
    $lh: $space-large;
    content: "";
    width: 1px;
    position: absolute;
    background: $color-black-300;
    height: $lh;
    top: -$lh;
    @include horizontal-center;
    z-index: 0;
  }
  &.first {
    &:after {
      display: none;
    }
  }
  &.line-right {
    &:after {
      content: "";
      @include horizontal-center;
      left: 80%;
    }
  }
  &.line-left {
    &:after {
      content: "";
      @include horizontal-center;
      left: 20%;
    }
  }
  @media (min-width: $mq-tablet) {
    @include flex-wrap(nowrap);
    margin: $space-large 0;
    &:after {
      $lh: $space-xl;
      content: "";
      width: 1px;
      position: absolute;
      background: $color-black-300;
      height: $lh;
      top: -$lh;
      @include horizontal-center;
      z-index: 0;
    }
  }
}
.case-study-year {
  box-shadow: inset 1px 1px 0 0 $color-black-300, inset -1px -1px 0 0 $color-black-300;
  height: auto;
  width: 100%;
  @include flexbox;
  align-items: center;
  padding: $space-medium 0;
  justify-content: center;
  @extend .type-caps-spaced;
  color: $color-black-200;
  @include font-size(24);
  @include transition($time:200ms);
  @media (min-width: $mq-tablet) {
    box-shadow: inset 1px 1px 0 0 $color-black-300, inset 0 -1px 0 0 $color-black-300;
    height: 160px;
    padding: 0 $space-large;
    width: 160px;
  }
}
.case-study-content {
  background: $color-black-400;
  box-shadow: inset -1px -1px 0 0 $color-black-300, inset 1px 0 0 0 $color-black-300;
  flex-grow: 2;
  overflow: hidden;
  padding: $space-medium;
  position: relative;
  z-index: 10;
  @include transition($time:200ms);
  & > * {
    margin-bottom: $space-medium;
  }
  @media (min-width: $mq-tablet) {
    box-shadow: inset -1px -1px 0 0 $color-black-300, inset 1px 1px 0 0 $color-black-300;
    padding: 7rem;
  }
}
.case-study-logo {
  @include translate(-2rem,0);
}
.case-study-link {
  @extend .type-caps-spaced;
  color: $color-black-200;
  @include font-size(18);
}
.case-study-content:after {
  
}

#client-myfdtps {
  .case-study-content:after {
    background: url("../images/clients/logos/client-logo-myfdtps-blue.svg") no-repeat left top;
    background-size: contain;
    content: "";
    height: 80px;
    opacity: 0;
    position: absolute;
    right: -35%;
    top: 13%;
    width: 520px;
    z-index: 1;
    @include transition($time:0,$delay:0ms);
    @include translate(50px,0);
  }
  &:hover {
    .case-study-content:after {
      background: url("../images/clients/logos/client-logo-myfdtps-blue.svg") no-repeat left top;
      background-size: contain;
      content: "";
      opacity: .1;
      @include transition($time:400ms,$delay:200ms);
      @include translate(0,0);
    }
    .case-study-content {
      background: $color-white;
    }
    .case-study-year {
      background: #0F5197;
      color: $color-white;
      box-shadow: inset 1px 1px 0 0 #0F5197, inset 0 -1px 0 0 #0F5197;
    }
    .case-study-logo path {
      fill: #1766A9;
    }
    .case-study-title {
      color: $color-black-400;
    }
    .case-study-desc {
      color: $color-black-300;
    } 
  }
}
#client-gigmor {
  .case-study-content:after {
    background: url("../images/clients/logos/client-logo-gigmor-g.svg") no-repeat left top;
    background-size: contain;
    content: "";
    height: 520px;
    opacity: 0;
    position: absolute;
    right: -15%;
    top: 7%;
    width: 360px;
    @include transition($time:0,$delay:0);
    @include translate(50px,0);
  }
  &:hover {
    .case-study-content:after {
      content: "";
      opacity: .1;
      @include transition($time:400ms,$delay:200ms);
      @include translate(0,0);
    }
    .case-study-content {
      background: #E54A1E;
      box-shadow: inset -1px -1px 0 0 #E54A1E, inset 1px 1px 0 0 #E54A1E;
    }
    .case-study-year {
      background: $color-white;
      color: #E54A1E;
      box-shadow: inset 1px 1px 0 0 $color-white, inset 0 -1px 0 0 $color-white;
    }
    .case-study-logo path {
      fill: #1766A9;
    }
    .case-study-title {
      color: $color-white;
    }
    .case-study-desc {
      color: rgba(255,255,255,0.7);
    } 
    .case-study-link {
      color: rgba(255,255,255,0.8);
    }
  }
}
#client-ifyb {
  .case-study-content:after {
    background: url("../images/clients/logos/client-logo-ifyb-white.svg") no-repeat left top;
    background-size: contain;
    content: "";
    height: 333px;
    opacity: 0;
    position: absolute;
    right: -15%;
    top: 7%;
    width: 468px;
    @include transition($time:0,$delay:0);
    @include translate(50px,0);
  }
  &:hover {
    .case-study-content:after {
      content: "";
      opacity: .1;
      @include transition($time:400ms,$delay:200ms);
      @include translate(0,0);
    }
    .case-study-content {
      background: #234F6A;
      box-shadow: inset -1px -1px 0 0 #234F6A, inset 1px 1px 0 0 #234F6A;
    }
    .case-study-year {
      background: $color-white;
      color: #FFCE01;
      box-shadow: inset 1px 1px 0 0 $color-white, inset 0 -1px 0 0 $color-white;
    }
    .case-study-title {
      color: $color-white;
    }
    .case-study-desc {
      color: rgba(255,255,255,0.7);
    } 
    .case-study-link {
      color: rgba(255,255,255,0.8);
    }
  }
}
#client-liveraise {
  .case-study-content:after {
    background: url("../images/clients/logos/client-logo-liveraise-emblem.svg") no-repeat left top;
    background-size: contain;
    content: "";
    height: 357px;
    opacity: 0;
    position: absolute;
    right: -15%;
    top: 10%;
    width: 392px;
    @include transition($time:0,$delay:0);
    @include translate(50px,0);
  }
  &:hover {
    .case-study-content:after {
      content: "";
      opacity: .07;
      @include transition($time:400ms,$delay:200ms);
      @include translate(0,0);
    }
    .case-study-content {
      background: #435EB0;
      /* Rectangle Copy: */
      background-image: linear-gradient(-225deg, #6213B0 0%, #435EB0 100%);
      box-shadow: inset -1px -1px 0 0 #435DB0, inset 1px 1px 0 0 #435DB0;
    }
    .case-study-year {
      background: $color-white;
      color: #AA146E;
      box-shadow: inset 1px 1px 0 0 $color-white, inset 0 -1px 0 0 $color-white;
    }
    .case-study-title {
      color: $color-white;
    }
    .case-study-desc {
      color: rgba(255,255,255,0.7);
    } 
    .case-study-link {
      color: rgba(255,255,255,0.8);
    }
  }
}

.card {
  background: transparent;
  border: 1px solid $color-black-300;
  border-radius: 0;
  margin: $space-medium 0 0;
  padding: $space-medium;
  @include transition;
}
.card-padding-top-large {
  padding-top: $space-large;
}
.card-padding-top-xl {
  padding-top: $space-xl;
}
.card-hover-white:hover {
  background: $color-white;
  border-color: $color-white;
  h3 {
    color: $color-black-400;
  }
  p {
    color: $color-black-300;
  }
}

.section-footer {
  color: $color-black-300;
  @include font-size(16);
  font-weight: 700;
  padding: $space-medium 0;
}