@charset "utf-8";
@import "normalize";
@import "bootstrap";
@import "variables";
@import "mixins";
@import "type";
@import "system";
@import "skeleton";
@import "case";
@import "blog";

// Global
  body {
    background: $color-black-10;
    height: 100%;
    overflow-x: hidden;
  }